<h3>Privacy</h3>
<p>We value your privacy and encourage you not to share sensitive information in this porta as people can see all you 
    publicly visibly information.</p>
<h3>Terms and Condition</h3>
<p>User should make sure that they are not violating any copyright laws and they take the responsibilty of what ever 
    they upload, also user must not upload any sexual ,violent or controversial videos.User are advised to refer to this page which can be found at "himachalgottalent.com/privacy" to check if there are any changes in privacy, terms and conditions.</p>
