




<video  #video (loadedmetadata)="loadedmetadata()" hidden controls  [src]="videoLocalPath" crossOrigin="anonymous">
</video>

<div class="container">
        <div  class="row justify-content-center col-8 centered">
            <input type="file" (change)="videoSelected($event)"  #selectedFile name="selectedFile" class="form-control" required id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select File"  accept="video/mp4,video/mov,video/*">
        </div>

        <div class="row justify-content-center">
            We have Selected a Thumbnail to show for your video,play video and use Below Button to change it
        </div>

        <div class="row justify-content-center">
            <canvas  #canvas crossOrigin="anonymous" ></canvas>
        </div>

        <div class="row justify-content-center">
            <mat-slider
                thumbLabel
                [value]="this.video.currentTime"
                step="2"
                tickInterval="2"
                (input)="onInputChange($event)"
                [min]="0"
                [max]="max">
            </mat-slider>
        </div>

        <div class="row justify-content-center">
            <button (click)="snap()">Click here If you See Blank</button>
        </div>
</div>

