.example-radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .example-margin {
    margin: 0 10px;
  }

  .center{
    margin:auto;
  }

.textCenter {
  text-align: center;
}

.nav-link{
  display:unset;
}


