
 <ngx-loading [show]="loading"></ngx-loading>
 <h1>Register</h1>
 
 <a class="nav-link " routerLink="/Login">Already have an Account ? Login Here</a>  
 
 <form class="example-form" ngNativeValidate (ngSubmit)="register()" >
    <img *ngIf="avatarImage" [src]='avatarImage' name="profilePic"><br>
    <button type="button" class="btn "
            (click)="openDialog()">
        <span  *ngIf="!avatarImage" name="pickPic">Pick a Profile Pic</span> 
        <span  *ngIf="avatarImage" name="changePic">Pick another Profile Pic</span> 
    </button>
    <br>
    <br>

     <mat-form-field class="example-full-width">
       <input matInput placeholder="Email" type="email"  [(ngModel)]="email" name="email" required>
     </mat-form-field>
     <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm Email" type="email"  [(ngModel)]="confirmEmail" name="confirmEmail" required>
      </mat-form-field>
     <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name"  [(ngModel)]="firstName" name="firstName" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Middle Name"  [(ngModel)]="middleName" name="middleName" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name"  [(ngModel)]="lastName" name="lastName" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput placeholder="Age" type="number" min="0" max="100" [(ngModel)]="age" name="age"  >
            </mat-form-field>

     <mat-form-field class="example-full-width">
       <input matInput placeholder="Password" type="password" [(ngModel)]="password" name="password" required>
     </mat-form-field>

     <mat-form-field class="example-full-width">
        <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </mat-form-field>
 

     <div class="example-selected-value">Gender</div>
     <mat-radio-group class="example-radio-group" [(ngModel)]="gender" name="gender" required>
        <mat-radio-button class="example-radio-button" *ngFor="let gen of genders" [value]="gen">
          {{gen}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
          <mat-select placeholder="District" [(ngModel)]="district" name="district" required>
            <mat-option *ngFor="let dist of districts" [value]="dist" required>{{dist}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Town" type="text"  [(ngModel)]="town" name="town" required>
          </mat-form-field>

          <input [(ngModel)]="capthaId" name="capthaId" hidden/>
        <div class="example-selected-value">Prove You are Human, type <b>{{capthaText}}</b> below</div>
          <mat-form-field class="example-full-width">
              <input matInput  type="text"  [(ngModel)]="captha" name="captha" required>
            </mat-form-field>
 
            <mat-checkbox  [(ngModel)]="agreed" (onClick)="toggleAgreed()" name="agreed"></mat-checkbox>
            I Agree with <a href="/privacy" target="_blank">Privacy,Term and Conditions.</a>
<br>
<div class="button-row">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <span style="color: crimson; margin: 5;" *ngIf="errors">  {{errors}}  </span>
  <button mat-raised-button color="primary">Register</button>
  <br>
  <br>
  <br>

</div>
   </form>
