<br>
<br>

<div>
  <h3>Hey folks tell all your friends about this site and help us grow.</h3>
  <br>
  <div class='pm-button'><a href='https://www.payumoney.com/paybypayumoney/#/0A23D0E2F15F421A0B4C91D2802F7F02'>Donate and Help Us keep running our servers.</a></div>

  <br>
  <h5>or Give Feedback</h5>
  <form class="" ngNativeValidate (ngSubmit)="giveFeedback()">
    <mat-form-field class="fullWdth">
      <textarea matInput placeholder="Type your Feedback Here" rows="3" [(ngModel)]="feedback" name="feedback" required></textarea>
    </mat-form-field>
    <button style="display: block;" class="right" mat-raised-button color="primary" type="submit">Submit Feedback</button>
  </form>
</div>
