<h5 class="center mt-5 mb-5">Awesome Videos By People Of Himachal</h5>
    <div class="container">
      <div class="row"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     [infiniteScrollDisabled]="isFullListDisplayed"
     [scrollWindow]="true"
     (scrolled)="onScroll()">
        <div class="video__list col-md-4 mb-5"  (click)="goToVideo(vid)" *ngFor="let vid of videos" >
          <img class="fullWidth" [src]="vid.posterUrl"/>
          <div class="mt-2">
            <div>{{vid.title}}</div>
            <div>By {{vid.userFirstName}} from {{vid.userDistrict}} </div>
          </div>
        </div>
      </div>
      </div>
