@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.baseColor {
  background-color:rgba(18, 234, 42, 0.33);
  opacity:50;
}

.fixed{
  position:absolute;
  font-size:xx-small;
}
