<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Your email</ng-template>
      <h5>We will email a code to this email which you will enter on next screen</h5>
      <mat-form-field>
        <input matInput placeholder="email" [(ngModel)] ="email" name="email" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button (click)="sendMail()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your Unique Code send to your mail</ng-template>
      <mat-form-field>
        <input matInput placeholder="code" [(ngModel)] ="code" name="code" formControlName="secondCtrl" required>
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput placeholder="New Password" [(ngModel)] ="password" name="password" formControlName="secondCtrl" type="password" required>
        </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="changePassword()">Change Password</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
        <a class="nav-link"  routerLink="/Login">Login Now</a>
    </div>
  </mat-step>
</mat-horizontal-stepper>